{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Evento{% endblock %}

{% block content %}
{% block header %}
    {% include "partials/header/header_marrom.html" %}
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <h1 class="text-center">Editar Evento</h1>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label color_marrom">Nome do Evento:</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ event.nome }}" required>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label color_marrom">Data:</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ event.data_evento|date:'Y-m-d' }}" required>
        </div>
        <div class="mb-3">
            <label for="hour" class="form-label color_marrom">Horário:</label>
            <input type="time" class="form-control" id="hour" name="hour" value="{{ event.horario|time:'H:i' }}" required>
        </div>
        <div class="mb-3">
            <label for="imagem" class="form-label color_marrom">Imagem:</label>
            <input type="file" class="form-control" id="imagem" name="imagem" accept="image/*">
            {% if event.imagem %}
                <p>Imagem atual: <img src="{{ event.imagem.url }}" width="100"></p>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="price" class="form-label color_marrom">Preço:</label>
            <input type="text" class="form-control" id="price" name="price" value="{{ event.preco_evento }}">
        </div>
        <div class="mb-3">
            <label for="peaple_limit" class="form-label color_marrom">Limite de Pessoas:</label>
            <input type="text" step="1" class="form-control" id="peaple_limit" name="peaple_limit" value="{{ event.cpt_pessoas }}" required>
        </div>
        <div class="mb-3">
            <label for="adress" class="form-label color_marrom">Endereço:</label>
            <input type="text" class="form-control" id="adress" name="adress" value="{{ event.local_evento }}" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="{% url 'delete_event' event.id %}" class="btn btn-danger btn_card">Excluir evento</a>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer/footer.html' %}
{% endblock %}